.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 400px;
    border: 0px;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
}

.form-logotipo {
    width: 140px;
    margin-bottom: 10px;
}

.form-title {
    font-size: 1.6rem;
    color: #000;
    font-family: 'Lexend', sans-serif;
    margin-bottom: 15px;
}

.form-input {
    font-size: 1.2rem;
    border: none;
    outline: none;
    width: 70%;
    height: 45px;
    text-align: center;
    border-radius: 2px;
    margin-bottom: 10px;
    background-color: #F0F0F0;
}

.form-input:focus {
    background-color: #eaf7ff;
}

.form-button {
    color: #FFF;
    cursor: pointer;
    font-size: 1rem;
    border: 0px;
    width: 70%;
    height: 40px;
    border-radius: 2px;
    background-color: #009cdc;
}

.form-button:disabled {
    cursor: no-drop;
    color: #8a8a8a;
    background-color: #d4d4d4;
}